/* mains */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(61, 51, 123);
}

header {
    background-color: rgb(50, 42, 104);
    box-shadow: 0 3px 3px rgb(64, 0, 128);
    display: flex;
}



footer {
    background-color: rgb(50, 42, 104);
    box-shadow: 3px 0 6px rgb(64, 0, 128);
    
    /* to make footer stick to bottom -> to be changed! */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* generals */
header img {
    height: 32px;
    width: auto;
}

main img {
    height: 96px;
    width: auto;
}

footer img {
    height: 32px;
    width: auto;
}

figcaption {
    display: none;
}




/* big classes */


/*small classes */