/* FONT */
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





/* CUSTOM PROPERTIES */
:root {
    --body_background_color: #433885;
    --header_footer_background_color: #322a68;

    --filter_button_background_color: cadetblue;
    --filter_button_border_color: steelblue;
    --filter_button_box_shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    --button_hover_color: lightblue;

    --h1_color: wheat;
    --dark_text_color: #1a2b2b;
    --light_text_color: lightblue;

    --dialog_background_color: #467888;
    --dialog_border_color: dimgray;
    --dialog_backdrop_color: rgb(50 42 104 / 81%);
    --dialog_header_footer_background_color: #2259a7;
    --dialog_header_footer_box_shadow_color: #2a4368;
    --dialog_footer_button_background_color: #3e7fdc;
    --dialog_footer_button_text_color: darkblue;
}





/* MAINS */
body {
    font-family: 'Josefin Sans';
    background-color: var(--body_background_color);
    display: flex;
    flex-direction: column;
    margin: 0;

    /* to make footer stay at bottom (even without main-content) */
    /* <main>:  flex:1 */
    min-height: 100vh;
}

header {
    background-color: var(--header_footer_background_color);
    box-shadow: 0 3px 3px rgb(54 15 93);
    display: flex;
}

main {
    margin: 0 40px;
    display: flex;
    flex-direction: column;

    /* to make footer stay at bottom (even without main-content) */
    /* <body>:  min-height:100vh */
    flex: 1;
}

nav {
    display: flex;
    justify-content: center;
    margin: 16px 0 32px 0;
}

footer {
    background-color: var(--header_footer_background_color);
    box-shadow: 3px 0 6px rgb(54 15 93);
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 32px;
}





/* GENERALS */
h1 {
    text-align: center;
    color: var(--h1_color);
    font-size: 32px;
    margin: 32px 0;
}

h2 {
    text-align: center;
    color: var(--dark_text_color);
    font-size: 24px;
    margin: 18px;
}

figure {
    margin: 0;
}

figcaption {
    display: none;
}





/* SPECIFICS */
header img {
    height: 64px;
    width: auto;
    margin: 16px 40px;
}

.FilterButtons {
    background-color: var(--filter_button_background_color);
    border: 1px solid var(--filter_button_border_color);
    padding: 12px;
    font-family: 'Josefin Sans';
    box-shadow: var(--filter_button_box_shadow);
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
}

/* to remove "." between .ThumbButtons */
li::marker {
    content: "";
}

main ul img {
    height: 166px;
    width: 166px;
    border-radius: 18px;
    object-fit: cover;
}

main button {
    padding: 0;
    background: none;
    border: none;
    border-radius: 18px;
}

main button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 2px var(--button_hover_color);
    /* check if 0.1s is acceptable */
    transition: 0.1s ease-in-out;

}

main button:active {
    transform: translateY(2px);
}





/* DIALOG */
dialog {
    background-color: var(--dialog_background_color);
    border-color: var(--dialog_border_color);
}

dialog.opened {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 75vw;
    padding: 8px;
}

dialog::backdrop {
    /* !== opacity -> über rgb wird Inhalt nicht transparent */
    background-color: var(--dialog_backdrop_color);
}

dialog header,
dialog footer {
    background-color: var(--dialog_header_footer_background_color);
    box-shadow: 3px 3px 3px var(--dialog_header_footer_box_shadow_color);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 32px;
    gap: 24px;
    margin-top: 0;
    height: 40px;
}

dialog header {
    justify-content: space-between;
}

dialog header span {
    font-size: 16px;
    color: lightblue;
}

dialog section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

dialog img {
    width: 500px;
    height: auto;
    max-width: 75vw;
    max-height: 58vh;
    margin-bottom: 12px;
    object-fit: contain;
}

dialog button {
    background-color: var(--dialog_footer_button_background_color);
    color: var(--dialog_footer_button_text_color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 18px;
}

dialog button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 2px var(--button_hover_color);
    /* check if 0.1s is acceptable */
    transition: 0.1s ease-in-out;
}

dialog button:active {
    transform: translateY(2px);
}

dialog footer span {
    color: var(--light_text_color);
}





/* footer */
footer img {
    height: 32px;
    width: auto;
}

footer span {
    margin: 0;
    color: var(--light_text_color);
}





/* RESPONSIVE (TABLET & CO.) */
@media (max-width:640px) {
    main {
        margin: 0 20px;
    }
}

@media (max-width:460px) {
    dialog header,
    dialog footer {
        padding: 6px 16px;
    }

    dialog button {
        width: 32px;
        height: 32px;
    }
}

@media (max-width:435px) {
    header {
        justify-content: center;
    }

    header img {
        height: 48px;
        margin: 16px 0;
    }

    main {
        margin: 0 10px;
    }

    ul {
        gap: 16px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }
}

@media (max-width:390px) {
   dialog header {
        gap: 6px;
   }
   
    dialog h2 {
        margin: 8px;
    }
}

@media (max-width:370px) {
    main ul img {
        height: 140px;
        width: 140px;
    }
}