/* mains */
body {
    margin: 0;
    background-color: rgb(61, 51, 123);

}

header {
    background-color: rgb(50, 42, 104);
    box-shadow: 0 6px 6px rgb(64, 0, 128);
    display: flex;
}

img {
    height: 32px;
    width: auto;
}

figcaption {
    display: none;
}

/* generals */


/* big classes */


/*small classes */