/* MAINS */
body {
    background-color: rgb(61, 51, 123);
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: 'Josefin Sans';


    /* to make footer stay at bottom (even without main-content) */
    /* <main> flex:1 */
    min-height: 100vh;
}

header {
    background-color: rgb(50, 42, 104);
    box-shadow: 0 3px 3px rgb(64, 0, 128);
    display: flex;
}

main {
    margin: 16px 40px;
    display: flex;
    flex-direction: column;

    /* to make footer stay at bottom (even without main-content) */
    /* <body> min-height:100vh */
    flex: 1;
}

footer {
    background-color: rgb(50, 42, 104);
    box-shadow: 3px 0 6px rgb(64, 0, 128);

    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    /* same as margin of h1 */
    margin-top: 32px;
}







/* GENERALS */
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    color: wheat;

    /* same as margin-top of footer */
    margin: 32px 0;
}

figure {
    margin: 0;
}

figcaption {
    display: none;
}





/* SPECIFICS */
/* header */
header img {
    height: 64px;
    width: auto;
    margin-left: 40px;
}

/* main */
main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

main img {
    height: 166px;
    width: 166px;
    border-radius: 18px;
    object-fit: cover;
}

main img:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 2px lightblue;
    /* check if 0.1s is acceptable */
    transition: 0.1s ease-in-out;

}

main img:active {
    transform: translateY(2px);
}

dialog {
    border-color: gray;
    background-color:azure;
    /* border: 5px solid orange;
    transform: translateX(500px); */
}

dialog.opened {
    display: block;
    /* transform: translateX(0px);
    transition: all 1s ease-in; */
}

dialog header, dialog footer {
    /* maby cornflowerblue ??? */
    background-color: cadetblue;    
    box-shadow: 3px 3px 3px rgb(42, 67, 104);
}




/* footer */
footer img {
    height: 32px;
    width: auto;
}

footer p {
    margin: 0;
}





/* MEDIA-QUERIES */
@media (max-width:435px) {
    header {
        justify-content: center;
    }

    header img {
        height: 48px;
        margin: 0;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
}