/* MAINS */
body {
    background-color: rgb(61, 51, 123);
    display: flex;
    flex-direction: column;
    margin: 0;

    /* to make footer stay at bottom (even without main-content) */
    /* <main> flex:1 */
    min-height: 100vh;
}

header {
    background-color: rgb(50, 42, 104);
    box-shadow: 0 3px 3px rgb(64, 0, 128);
    display: flex;
}

main {
    margin: 16px 40px;
    display: flex;
    flex-direction: column;

    /* to make footer stay at bottom (even without main-content) */
    /* <body> min-height:100vh */
    flex: 1;
}

footer {
    background-color: rgb(50, 42, 104);
    box-shadow: 3px 0 6px rgb(64, 0, 128);

    height: 96px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}





/* GENERALS */
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    color: wheat;
    font-family: 'Josefin Sans';
}

figcaption {
    display: none;
}





/* SPECIFICS */
/* header */
header img {
    height: 64px;
    width: auto;
}

/* main */
main div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

main img {
    height: 96px;
    width: auto;
    border-radius: 18px;
}

main img:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 2px lightblue;
    /* check if 0.1s is acceptable */
    transition: 0.1s ease-in-out;   

}

main img:active {
    transform: translateY(2px);
}

dialog {
    border: 5px solid orange;
    transform: translateX(500px);
}

dialog.opened {
    transform: translateX(0px);
    transition: all 1s ease-in;
}




/* footer */
footer img {
    height: 32px;
    width: auto;
}

footer figure {
    margin: 0;

}

footer p {
    margin: 0;
}





/* CLASSES */





/*ID's */