/* MAINS */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(61, 51, 123);
}

header {
    background-color: rgb(50, 42, 104);
    box-shadow: 0 3px 3px rgb(64, 0, 128);
    display: flex;
}

h1 {
    text-align: center;
    color: wheat;
    font-family: 'Josefin Sans';
}

footer {
    background-color: rgb(50, 42, 104);
    box-shadow: 3px 0 6px rgb(64, 0, 128);

    height: 96px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    

    /* make footer stay bottom when main is short -> to be changed! */
}





/* GENERALS */
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

figcaption {
    display: none;
}





/* SPECIFICS */
/* header */
header img {
    height: 64px;
    width: auto;
}


/* main */
main img {
    height: 96px;
    width: auto;
}


/* footer */
footer img {
    height: 32px;
    width: auto;
}

footer figure {
    margin: 0;

}

footer p {
    margin: 0;
}





/* CLASSES */





/*ID's */